@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@600&family=Prompt:wght@300&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 36%;
    color: white;
    position: absolute;
    top: 16%;
    left: 22%
}

.container h1 {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 55px;
    border-bottom: 4px solid #ed96ce;
    margin-bottom: 18px;
    padding: 10px 0;
}

.box {
    width: 100%;
    margin: 24px 0px;
    border-bottom: 2px solid #ed96ce;
}

.box input {
    font-family: 'Rubik', sans-serif;
    background: none;
    width: 76%;
    font-size: 23px;
    padding: 9px 4px;
    outline: none;
    color: bisque;
}

.box i {
    width: 10%;
    text-align: center;
}

.btn {
    font-family: 'Prompt', sans-serif;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid #cd3fbc;
    border-radius: 9px;
    background: none;
    font-weight: bold;

}

.btn:hover {
    opacity: 0.5;
    color: #b91c82;
    font-size: 20px;
    background: rgb(248, 186, 223);
}